// Styles to be added.
// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.rabindra {
    display: flex;
    justify-content: center;
    align-items: center;
}